# Python package build artifacts
*.egg-info/
*.egg
build/
dist/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 