---
import FormMappingPlayground from "@/components/FormMappingPlayground";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage
  frontmatter={{
    title: "Form mapping playground",
    tableOfContents: false,
    prev: false,
    next: false,
  }}
>
  <div class="form-playground-page">
    <FormMappingPlayground client:only="react" />
  </div>
</StarlightPage>

<style is:global>
  .sl-markdown-content
    :not(a, strong, em, del, span, input, code, br)
    + :not(a, strong, em, del, span, input, code, br, :where(.not-content *)) {
    margin-top: 0 !important;
  }
</style>
