name: "CI - Example: California API Run Checks"

on:
  workflow_dispatch:
  pull_request:
    paths:
      - examples/ca-opportunity-example/**
      - .github/workflows/ci-example-california-api.yml

defaults:
  run:
    working-directory: ./examples/ca-opportunity-example

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Poetry
        uses: Gr1N/setup-poetry@v8

      - name: Install poetry-audit-plugin
        run: poetry self add poetry-audit-plugin

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install CommonGrants CLI
        run: npm install -g @common-grants/cli

      - name: Install package
        run: make install

      - name: Audit dependencies for vulnerabilities
        run: poetry audit

      - name: Run linting, formatting, and type checking
        run: make checks

      - name: Run tests
        run: make test-coverage

      - name: Generate and validate OpenAPI spec
        run: make check-spec
