name: "CI - Core: Run Checks"

on:
  workflow_call:
  pull_request:
    paths:
      - lib/core/**
      - .github/workflows/ci-lib-core.yml
      - pnpm-lock.yaml

defaults:
  run:
    working-directory: ./lib/core

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.18.3

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint and format
        run: pnpm --filter @common-grants/core run checks

      - name: Build library
        run: pnpm --filter @common-grants/core run build

      - name: Emit TypeSpec outputs
        run: pnpm --filter @common-grants/core run typespec

      - name: Audit dependencies
        run: pnpm audit
