name: "CI - Python SDK: Run Checks"

on:
  pull_request:
    paths:
      - "lib/python-sdk/**"
      - ".github/workflows/ci-lib-pysdk.yml"

defaults:
  run:
    working-directory: ./lib/python-sdk

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Poetry
        uses: Gr1N/setup-poetry@v8

      - name: Install poetry-audit-plugin
        run: poetry self add poetry-audit-plugin

      - name: Install dependencies
        run: poetry install

      - name: Audit dependencies for vulnerabilities
        run: poetry audit

      - name: Run linting
        run: poetry run ruff check .

      - name: Run formatting
        run: poetry run black . --check

      - name: Run type checking
        run: poetry run mypy .

      - name: Run tests
        run: poetry run pytest

      - name: Build package
        run: poetry build
