name: "CI - Python SDK: Run Checks"

on:
  pull_request:
    paths:
      - "lib/python-sdk/**"
      - ".github/workflows/ci-lib-pysdk.yml"
      - pnpm-lock.yaml

defaults:
  run:
    working-directory: ./lib/python-sdk

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Poetry
        uses: Gr1N/setup-poetry@v8

      - name: Install poetry-audit-plugin
        run: poetry self add poetry-audit-plugin

      - name: Install dependencies
        run: make install

      - name: Run checks
        run: make checks

      - name: Run tests
        run: make test

      - name: Build package
        run: make build
