name: "CI - Changelog Emitter: Run Checks"

on:
  workflow_call:
  pull_request:
    paths:
      - lib/changelog-emitter/**
      - .github/workflows/ci-lib-changelog.yml
      - pnpm-lock.yaml

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.18.3

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # We need to build the library before running checks and tests because
      # the tests rely on the build output.
      - name: Build library
        run: pnpm --filter typespec-versioning-changelog run build

      - name: Run checks
        run: pnpm --filter typespec-versioning-changelog run checks

      - name: Run tests
        run: pnpm --filter typespec-versioning-changelog run test:coverage

      - name: Audit dependencies
        run: pnpm --filter typespec-versioning-changelog run audit
