name: Check for Unreleased Tags

on:
  schedule:
    # Runs at 6 PM UTC every day
    - cron: '0 18 * * *'
  workflow_dispatch: # Allows manual trigger
    inputs:
      days:
        description: "Number of days to check"
        required: false
        type: string
        default: ""

jobs:
  check-tags-releases:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Fetch all tags and history
      
      - name: Check tags against releases
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          DAYS=""
          if [ "${{ github.event.inputs.days }}" == "" ]; then
            DAYS="30"
          else
            DAYS="${{ github.event.inputs.days }}"
          fi

          .github/scripts/check-for-unreleased-tags.sh \
            --days $DAYS